# Virtual environment
.venv/
venv/
env/

# Environment variables
.env

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Distribution / packaging
dist/
build/
*.egg-info/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
